<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nature Images{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Nature Gallery</h1>
        <p class="lead">Welcome to the Nature Gallery, nature is the worlds gift, it secludes itself in the solitude of its own beauty.</p>
    </div>
</div>
<br>
<div>
    <div style="text-align: center;"><p class="h1">Emerald Lake - Yoho National Park</p></div>
    <br>
    <div class="text-center">
        <img src="https://images.unsplash.com/photo-1546587348-d12660c30c50?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bmF0dXJhbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" class="rounded" width="50%" alt="https://images.unsplash.com/photo-1546587348-d12660c30c50?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bmF0dXJhbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80">
        <div style="text-align: center;"><p><i>https://unsplash.com/s/photos/natural</i></p></div>
    </div>
</div>
<div>
    <br>
    <div style="text-align: center;"><p class="h1">Safe Place</p></div>
    <div class="text-center">
        <br>
        <img src="https://wallpaperaccess.com/full/5101344.jpg" class="rounded" width="50%" alt="https://wallpaperaccess.com/full/5101344.jpg">
        <div style="text-align: center;"><p><i>https://wallpaperaccess.com/real-nature</i></p></div>
    </div>
</div>
<div>
    <br>
    <div style="text-align: center;"><p class="h1">Lake Moraine, Banff National Park, Canada</p></div>
    <div class="text-center">
        <br>
        <img src="https://static.stacker.com/s3fs-public/styles/slide_desktop/s3/00000905_3.png" class="rounded" width="50%" alt="https://static.stacker.com/s3fs-public/styles/slide_desktop/s3/00000905_3.png">
        <div style="text-align: center;"><p><i>https://stacker.com/stories/3147/30-incredible-photos-show-true-power-nature</i></p></div>
    </div>
</div>
{% endblock content %}
</body>
</html>