<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Space Images{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Space Gallery</h1>
        <p class="lead">Welcome to the Space Gallery, space is marvelous wonder amongst many people and astronomers.</p>
    </div>
</div>
<br>
<div>
    <div style="text-align: center;"><p class="h1">Hubble Deep Field</p></div>
    <br>
    <div class="text-center">
        <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/stsci-01evvfya7x23asyxfwh5ejgmt9.jpg" class="rounded" width="50%" alt="https://www.nasa.gov/sites/default/files/thumbnails/image/stsci-01evvfya7x23asyxfwh5ejgmt9.jpg">
        <div style="text-align: center;"><p><i>https://www.nasa.gov/content/discoveries-hubbles-deep-fields</i></p></div>
    </div>
</div>
<div>
    <br>
    <div style="text-align: center;"><p class="h1">Alone in Space</p></div>
    <div class="text-center">
        <br>
        <img src="https://www.cnet.com/a/img/resize/d4386280644a4d20f274d0bfa11f1ae14d4b5322/hub/2016/02/01/d155c673-9cbd-49eb-9814-16710fe0e056/unjetpack.jpg?auto=webp&width=1092" class="rounded" width="50%" alt="https://www.cnet.com/a/img/resize/d4386280644a4d20f274d0bfa11f1ae14d4b5322/hub/2016/02/01/d155c673-9cbd-49eb-9814-16710fe0e056/unjetpack.jpg?auto=webp&width=1092">
        <div style="text-align: center;"><p><i>https://www.cnet.com/pictures/10-space-images-that-look-fake-but-are-actually-real-pictures/4/</i></p></div>
    </div>
</div>
<div>
    <br>
    <div style="text-align: center;"><p class="h1">Pillars of Creation</p></div>
    <div class="text-center">
        <br>
        <img src="https://i.insider.com/5995c7c121c3fc02758b4838?width=750&format=jpeg&auto=webp" class="rounded" width="50%" alt="https://i.insider.com/5995c7c121c3fc02758b4838?width=750&format=jpeg&auto=webp">
        <div style="text-align: center;"><p><i>https://www.insider.com/breathtaking-stunning-beautiful-photos-universe-space-2017-8#these-elephant-trunks-are-known-as-the-pillars-of-creation-and-are-part-of-an-active-region-of-star-formation-in-the-milky-way-26</i></p></div>
    </div>
</div>
{% endblock content %}
</body>
</html>